* {
  -webkit-user-select: none;
}
body,
html,
.root,
.content-page {
  font-family: 'Arimo', sans-serif;
  height: 100%;
}
button:hover {
  cursor: pointer;
}
button[disabled]:hover {
  cursor: default;
}
.global-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.global-overlay h1 {
  position: absolute;
  font-size: 20px;
  right: 10px;
  bottom: 0;
  color: white;
}
a {
  color: initial;
}
a:hover,
a:focus {
  color: initial;
  text-decoration: initial;
}
.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.top-row {
  height: 40px;
}
.bottom-row {
  height: calc(100% - 40px);
}
.bottom-row:before,
.bottom-row:after {
  content: " ";
  display: table;
}
.bottom-row:after {
  clear: both;
}
.bottom-row .left,
.bottom-row .right {
  height: 100%;
  float: left;
}
.bottom-row .left {
  width: 260px;
}
.bottom-row .right {
  width: calc(100% - 260px);
}
