.track {
  display: inline-block;
  position: relative;
  padding: 5px;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.track.active {
  background-color: lightskyblue;
}
.track:hover .info {
  background-color: rgba(0, 0, 0, 0.5);
}
.track img {
  width: 170px;
  height: 170px;
  border-radius: 5px;
  object-fit: contain;
}
.track .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0 8px 5px;
  border-radius: 0 0 10px 10px;
}
.track .ribbon {
  position: absolute;
  top: 5px;
  right: -15px;
  background: rgba(255, 255, 255, 0.8);
  width: 60px;
  transform: rotate(45deg);
  text-align: center;
  color: black;
}
.track .ribbon i {
  transform: rotate(-45deg);
}
.track .track-name {
  font-size: 16px;
}
.track .track-artist {
  font-size: 14px;
}
.track .track-name,
.track .track-artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
