language: node_js
script:
  - npm test
  - gulp linter:all

before_install:
  - npm install -g npm@2

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8

node_js:
  - "5.1.1"
