.sidebar {
  $videoHeight: 140px;
  $controlsHeight: 25px;

  height: 100%;
  border-right: 1px solid #cccccc;

  .menus {
    // 155px is the height of player
    height: calc(100% - #{$videoHeight + $controlsHeight});

    ul li {
      font-size: 16px;
      border-bottom: 1px solid #cccccc;
      border-left: 5px solid #ffffff;

      &.active {
        border-left-color: #cccccc;
      }

      a {
        display: block;
        padding: 5px;
      }

      .icon {
        margin-right: 5px;
      }
    }
  }

  .player {

    .track {
      width: 200px;
      height: 200px;
      background-image: url(../images/track-placeholder.png);
      background-color: #efefef;
      background-size: 100%;
    }

    .control-buttons {
      button {
        outline: none;
        border: 0;
        border-right: 1px solid #cccccc;
        width: calc(100% / 7); // we have 7 buttons
        background-color: #efefef;
      }

      button:active {
        background-color: darken(#efefef, 10%);
      }

      button:last-child {
        border-right: 0;
      }
    }

    #player {
      // to make spinner at the right place
      position: relative;
      // We have to override its height directly
      height: $videoHeight;
    }

    video {
      width: 100%;
      height: $videoHeight;
    }
  }
}
