@import "compass/utilities/general/clearfix";

.toolbar-container {
  position: relative;
  text-align: right;
  background: #efefef;
  height: 40px;
  border-bottom: 1px solid #cccccc;

  .toolbar-buttons {
    position: absolute;
    float: left;
    top: 50%;
    left: 10px;
    margin-top: -10px;
  }

  .toolbar-song-information {
    height: 20px;
    color: #666666;
    text-align: center;
  }

  button {
    outline: none;
    border: 0;
    border-radius: 10px;
    font-size: 10px;
    color: #666666;
    margin: 0 3.5px;
    padding: 0;
    width: 16px;
    height: 16px;
  }

  .toolbar-shrink-button {
    background-color: #fdbc40;
  }

  .toolbar-enlarge-button {
    background-color: #34c94a;
  }

  .toolbar-close-button {
    background-color: #fc625d;
  }

  .toolbar-devtools-button {
    background-color: #b3cdf7;
  }

  .searchbar-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .searchbar-user-input {
    height: 26px;
  }
}
