.topranking-slot {
  // -10px to make it align to the search form
  width: calc(100% - 10px);
  overflow-x: scroll;
  border: 1px solid #cccccc;
  margin: 10px 0;
}

.topranking-container {
  $imageSize: 140px;
  $trackPadding: 5px;
  $trackMargin: 5px;
  $trackBorder: 1px;

  $trackSize: $imageSize + ($trackPadding + $trackMargin + $trackBorder) * 2;
  width: $trackSize * 100;
  height: $trackSize;

  .topranking-track {
    display: inline-block;
    padding: $trackPadding;
    border: $trackBorder solid #cccccc;
    margin: $trackMargin;

    img {
      width: $imageSize;
      height: $imageSize;
    }
  }
}

