.topranking-slot {
  // -10px to make it align to the search form
  width: calc(100% - 10px);
  overflow-x: scroll;
  border: 1px solid #cccccc;
  margin: 10px 0;
}

.topranking-container {
  $size: 150px;
  height: $size;
  width: $size * 100;
}

.topranking-track {
  display: inline-block;
  padding: 5px;

  img {
    width: 140px;
    height: 140px;
  }
}
