@font-face {
  font-family: 'Arimo';
  src: url(../fonts/Arimo/Arimo-Regular.ttf) format('woff2');
}
* {
  -webkit-user-select: none;
}
input {
  -webkit-user-select: text;
}
body,
html,
.root,
.content-page {
  font-family: 'Arimo', sans-serif;
  height: 100%;
}
button:hover {
  cursor: pointer;
}
button[disabled]:hover {
  cursor: default;
}
.global-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.global-overlay h1 {
  position: absolute;
  font-size: 20px;
  right: 10px;
  bottom: 0;
  color: white;
}
a {
  color: initial;
}
a:hover,
a:focus {
  color: initial;
  text-decoration: initial;
}
.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.top-row {
  height: 40px;
}
.bottom-row {
  height: calc(100% - 40px);
}
.bottom-row:before,
.bottom-row:after {
  content: " ";
  display: table;
}
.bottom-row:after {
  clear: both;
}
.bottom-row .left,
.bottom-row .right {
  height: 100%;
  float: left;
}
.bottom-row .left {
  width: 260px;
}
.bottom-row .right {
  width: calc(100% - 260px);
}
.track {
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
.track-square {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.track-square.active {
  background-color: lightskyblue;
}
.track-square:hover .info {
  background-color: rgba(0, 0, 0, 0.5);
}
.track-square img {
  width: 170px;
  height: 170px;
  border-radius: 5px;
  object-fit: contain;
}
.track-square .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 0 8px 5px;
  border-radius: 0 0 10px 10px;
}
.track-square .ribbon {
  position: absolute;
  top: 5px;
  right: -15px;
  background: rgba(255, 255, 255, 0.8);
  width: 60px;
  transform: rotate(45deg);
  text-align: center;
  color: black;
}
.track-square .ribbon i {
  transform: rotate(-45deg);
}
.track-square .track-name {
  font-size: 16px;
}
.track-square .track-artist {
  font-size: 14px;
}
.track-square .track-name,
.track-square .track-artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.track-list {
  display: block;
  height: 30px;
  margin-bottom: 5px;
  color: white;
}
.track-list.active {
  background-color: rgba(0, 0, 0, 0.5);
}
.track-list i {
  margin: 0 10px;
  vertical-align: top;
  line-height: 30px;
}
.track-list img {
  width: 30px;
  height: 100%;
  vertical-align: top;
  object-fit: contain;
}
.track-list .icon-wrapper {
  display: inline-block;
  width: 32px;
}
.track-list .track-name {
  width: calc(100% - 25% - 32px - 30px);
  text-align: left;
}
.track-list .track-artist {
  width: 25%;
  text-align: right;
}
.track-list .track-name,
.track-list .track-artist {
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.toolbar-container {
  -webkit-app-region: drag;
  position: relative;
  text-align: right;
  background: #efefef;
  height: 40px;
  border-bottom: 1px solid #cccccc;
}
.toolbar-container * {
  -webkit-app-region: no-drag;
}
.toolbar-container .toolbar-buttons {
  position: absolute;
  float: left;
  top: 50%;
  left: 10px;
  margin-top: -10px;
}
.toolbar-container .toolbar-buttons .button {
  display: inline-block;
  font-size: 9px;
  border-radius: 10px;
  text-align: center;
  margin-right: 5px;
  width: 14px;
  line-height: 14px;
  cursor: pointer;
  color: #333;
  vertical-align: middle;
}
.toolbar-container .toolbar-buttons .button i {
  visibility: hidden;
}
.toolbar-container .toolbar-buttons .button:hover i {
  visibility: visible;
}
.toolbar-container .shrink-button {
  background-color: #fdbc40;
}
.toolbar-container .enlarge-button {
  background-color: #34c94a;
}
.toolbar-container .close-button {
  background-color: #fc625d;
}
.toolbar-container .devtools-button {
  background-color: #b3cdf7;
}
.toolbar-container .toolbar-song-information {
  -webkit-user-select: initial;
  position: absolute;
  line-height: 40px;
  color: #666666;
  left: 50%;
  transform: translateX(-50%);
}
.toolbar-container .toolbar-progressbar {
  width: 0;
  height: 2px;
  background-color: #f27c7c;
  position: absolute;
  top: 0;
  transition: width 1s ease-in-out;
  box-shadow: 1px 1px 3px #cccccc;
}
.toolbar-container .searchbar-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.toolbar-container .searchbar-container .loader {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.toolbar-container .searchbar-container .loader.show {
  display: inline;
}
.toolbar-container .searchbar-container .searchbar-user-input {
  height: 26px;
  width: 300px;
  border-radius: 0;
  padding-right: 30px;
}
.toolbar-container .searchbar-container .autocomplete-list {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  text-align: left;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  border-top: 0;
}
.toolbar-container .searchbar-container .autocomplete-list li {
  border-bottom: 1px solid #ccc;
  background-color: white;
  padding: 2px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.toolbar-container .searchbar-container .autocomplete-list li:hover {
  cursor: pointer;
}
.toolbar-container .searchbar-container .autocomplete-list li.selected {
  background: #ccc;
}
.toolbar-container .searchbar-container .autocomplete-list li:last-child {
  border: 0;
}
.sidebar {
  height: 100%;
  border-right: 1px solid #cccccc;
}
.sidebar .menus {
  height: calc(100% - 140px - 25px);
  overflow: auto;
}
.sidebar .menus ul li {
  font-size: 16px;
  border-left: 5px solid #ffffff;
}
.sidebar .menus ul li.seperator {
  border-bottom: 1px solid #cccccc;
  margin: 5px 0;
}
.sidebar .menus ul li.add-playlist a {
  color: #2195f7;
}
.sidebar .menus ul li.active {
  border-left-color: #93c6f2;
  background-color: #d9f8fa;
  transition: background-color 0.2s ease-in-out;
}
.sidebar .menus ul li a {
  display: block;
  padding: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar .menus ul li .icon {
  margin-right: 5px;
}
.sidebar .player.tv-mode #player {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 5;
}
.sidebar .player.tv-mode .control-buttons {
  position: absolute;
  top: 45px;
  right: 5px;
}
.sidebar .player.tv-mode .control-buttons .btn {
  display: none;
}
.sidebar .player.tv-mode .control-buttons .tv-button {
  display: inline;
  position: relative;
  background: transparent;
  z-index: 6;
}
.sidebar .player .track {
  width: 200px;
  height: 200px;
  background-image: url(../images/track-placeholder.png);
  background-color: #efefef;
  background-size: 100%;
}
.sidebar .player .control-buttons .btn {
  outline: none;
  border: 0;
  width: calc(14.28571429%);
  color: #ccc;
  background-color: #000;
  padding: 2px 6px 3px;
  border-radius: 0;
}
.sidebar .player .control-buttons .btn[disabled] {
  opacity: 1;
}
.sidebar .player .control-buttons .btn:active {
  background-color: #444;
}
.sidebar .player .control-buttons .btn:hover {
  color: #e6e6e6;
}
.sidebar .player .control-buttons .btn.repeat-button {
  position: relative;
}
.sidebar .player .control-buttons .btn.repeat-button .mode {
  position: absolute;
  bottom: 0;
  right: 8px;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}
.sidebar .player .control-buttons .btn.external-button i {
  vertical-align: middle;
}
.sidebar .player .control-buttons .btn.cast-button img {
  width: 15px;
  height: 12px;
  margin-top: -2px;
  object-fit: none;
  object-position: 0 0;
}
.sidebar .player .control-buttons .btn.cast-button:hover img {
  object-position: -15px 0;
}
.sidebar .player .control-buttons .btn.cast-button.is-connecting img {
  object-position: 0 -12px;
}
.sidebar .player .control-buttons .btn.cast-button.is-connecting:hover img {
  object-position: -15px -12px;
}
.sidebar .player .control-buttons .btn.cast-button.is-casting img {
  object-position: 0 -24px;
}
.sidebar .player .control-buttons .btn.cast-button.is-casting:hover img {
  object-position: -15px -24px;
}
.sidebar .player #player {
  position: relative;
  height: 140px;
}
.right > .tab-content {
  height: 100%;
  overflow: auto;
}
.right > .tab-content .header {
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.right > .tab-content h1 {
  float: left;
  margin: 0;
  width: 60%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.right > .tab-content h1 i {
  margin-right: 10px;
}
.right > .tab-content .control-buttons {
  float: right;
  transform: translateY(25%);
}
.right > .tab-content .control-buttons i {
  pointer-events: none;
}
.right > .tab-content .control-buttons button {
  margin-right: 5px;
}
.right > .tab-content .control-buttons button:last-child {
  margin-right: 0;
}
.right > .tab-content .control-buttons .btn-group button {
  margin-right: 0;
}
.right > .tab-content .control-buttons .btn-group button:last-child {
  margin-right: 5px;
}
.right > .tab-content .tab-pane {
  padding: 10px;
}
.connection-check-container i {
  margin-right: 5px;
}
.connection-check-container.is-online {
  display: none;
}
.settings-container .dropdown-menu i {
  margin-right: 5px;
}
.settings-container .dropdown-toggle .caret {
  margin-left: 5px;
}
.about-container button i {
  margin-right: 5px;
}
.about-container p.well {
  font-size: 18px;
}
.about-container p.well:first-letter {
  font-size: 30px;
  line-height: initial;
}
.special-thanks-modal .modal-header {
  text-align: center;
}
.online-dj-slot .choose-role-page,
.online-dj-slot .dashboard-page {
  display: none;
}
.online-dj-slot[data-page="0"] .choose-role-page {
  display: block;
}
.online-dj-slot[data-page="1"] .dashboard-page {
  display: block;
}
.online-dj-slot .tab-content {
  margin: 10px 0;
}
.online-dj-slot .dashboard-page .form-inline {
  text-align: right;
  margin: 0 0 15px 0;
}
.online-dj-slot .dashboard-page .form-inline label {
  margin: 0 5px 0 0;
}
.online-dj-slot .dashboard-page .form-inline .form-group,
.online-dj-slot .dashboard-page .form-inline button {
  margin: 0 0 0 5px;
}
.chatroom {
  position: absolute;
  bottom: 0;
  right: 100px;
  background-color: white;
  border-radius: 5px 5px 0 0;
  z-index: 5;
  max-width: 300px;
  border: 1px solid #cccccc;
  border-bottom: 0;
}
.chatroom.shown .comment-container {
  display: inline-block;
}
.chatroom.online .header:after {
  background-color: #5cb85c;
}
.chatroom.offline .header:after {
  background-color: #777777;
}
.chatroom.error .header:after {
  background-color: #d9534f;
}
.chatroom .unread-count {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}
.chatroom .header {
  position: relative;
  font-size: 16px;
  margin: 0;
  padding: 5px 10px 5px 25px;
  background-color: #efefef;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #cccccc;
  border-radius: 5px 5px 0 0;
}
.chatroom .header i {
  margin-right: 2px;
}
.chatroom .header:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  border-radius: 8px;
}
.chatroom .comment-container {
  display: none;
}
.chatroom .comment-container .comment-author {
  font-size: 16px;
  margin-right: 5px;
  font-weight: bold;
}
.chatroom .comment-container .comment-no-data {
  margin: 30px 0;
  text-align: center;
}
.chatroom .comment-container .comment-text {
  position: relative;
  word-break: break-word;
  background-color: #efefef;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  padding: 2px 5px;
  margin: 5px 0;
  max-width: 70%;
}
.chatroom .comment-container .comment-text:before {
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-right: 5px solid #aaaaaa;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.chatroom .comment-container .comment-text:after {
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  margin-left: -4px;
  width: 0;
  height: 0;
  border-right: 4px solid #efefef;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.chatroom .comment-container .comment {
  margin: 10px;
}
.chatroom .comment-container .comment:last-child {
  border-bottom: 0;
}
.chatroom .comment-container .comment-list {
  max-height: 150px;
  overflow: auto;
}
.chatroom .comment-container .comment-form {
  padding: 10px;
  border-top: 1px solid #cccccc;
}
.chatroom .comment-container .comment-form button[type="submit"] {
  margin-left: 5px;
}
.vjs-default-skin {
  background-color: #000000;
}
.vjs-default-skin .vjs-volume-control {
  right: 1em;
}
