@font-face {
  font-family: 'Arimo';
  src: url(../fonts/Arimo/Arimo-Regular.ttf) format("woff2");
}
body,
html,
.root {
  font-family: 'Arimo', sans-serif;
  height: 100%;
}

a {
  color: initial;
}
a:hover, a:focus {
  color: initial;
  text-decoration: initial;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
}
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.top-row {
  height: 40px;
}

.bottom-row {
  height: calc(100% - 40px);
}
.bottom-row > .col {
  height: 100%;
}

.track {
  display: inline-block;
  position: relative;
  padding: 5px;
  border: 1px solid #cccccc;
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.track img {
  width: 170px;
  height: 170px;
  object-fit: contain;
}
.track .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
.track .track-name,
.track .track- {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.track:hover .info {
  background-color: rgba(0, 0, 0, 0.5);
}

.toolbar-container {
  -webkit-app-region: drag;
  position: relative;
  text-align: right;
  background: #efefef;
  height: 40px;
  border-bottom: 1px solid #cccccc;
}
.toolbar-container * {
  -webkit-app-region: no-drag;
}
.toolbar-container .toolbar-buttons {
  position: absolute;
  float: left;
  top: 50%;
  left: 10px;
  margin-top: -10px;
}
.toolbar-container .toolbar-song-information {
  height: 20px;
  color: #666666;
  text-align: center;
}
.toolbar-container button {
  outline: none;
  border: 0;
  border-radius: 10px;
  font-size: 10px;
  color: #666666;
  margin: 0 3.5px;
  padding: 0;
  width: 16px;
  height: 16px;
}
.toolbar-container .toolbar-shrink-button {
  background-color: #fdbc40;
}
.toolbar-container .toolbar-enlarge-button {
  background-color: #34c94a;
}
.toolbar-container .toolbar-close-button {
  background-color: #fc625d;
}
.toolbar-container .toolbar-devtools-button {
  background-color: #b3cdf7;
}
.toolbar-container .searchbar-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.toolbar-container .searchbar-user-input {
  height: 26px;
}

.sidebar {
  height: 100%;
  border-right: 1px solid #cccccc;
}
.sidebar .menus {
  height: calc(100% - 165px);
}
.sidebar .menus ul li {
  font-size: 16px;
  border-bottom: 1px solid #cccccc;
  border-left: 5px solid #ffffff;
}
.sidebar .menus ul li.active {
  border-left-color: #cccccc;
}
.sidebar .menus ul li a {
  display: block;
  padding: 5px;
}
.sidebar .menus ul li .icon {
  margin-right: 5px;
}
.sidebar .player .track {
  width: 200px;
  height: 200px;
  background-image: url(../images/track-placeholder.png);
  background-color: #efefef;
  background-size: 100%;
}
.sidebar .player .control-buttons button {
  outline: none;
  border: 0;
  border-right: 1px solid #cccccc;
  width: calc(100% / 7);
  background-color: #efefef;
}
.sidebar .player .control-buttons button:active {
  background-color: #d5d5d5;
}
.sidebar .player .control-buttons button:last-child {
  border-right: 0;
}
.sidebar .player #player {
  position: relative;
  height: 140px;
}
.sidebar .player video {
  width: 100%;
  height: 140px;
}

.tab-content {
  padding: 10px;
  height: 100%;
  overflow: auto;
}
.tab-content h1 {
  margin: 0;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.tab-content i {
  margin-right: 10px;
}

.vjs-default-skin {
  background-color: #000000;
}
