body,
html {
  height: 100%;
}

.main-container {
  height: calc(100% - 20px);
}
.main-container > div {
  float: left;
  display: inline-block;
  height: 100%;
}
.main-container .sidebar-container {
  width: 200px;
}
.main-container .content-container {
  width: calc(100% - 200px);
}

.toolbar-container {
  position: relative;
  text-align: right;
  background: #efefef;
  height: 40px;
  border-bottom: 1px solid #cccccc;
}
.toolbar-container .toolbar-buttons {
  position: absolute;
  float: left;
  top: 50%;
  left: 10px;
  margin-top: -10px;
}
.toolbar-container .toolbar-song-information {
  height: 20px;
  color: #666666;
  text-align: center;
}
.toolbar-container button {
  outline: none;
  border: 0;
  border-radius: 10px;
  font-size: 10px;
  color: #666666;
  margin: 0 3.5px;
  padding: 0;
  width: 16px;
  height: 16px;
}
.toolbar-container .toolbar-shrink-button {
  background-color: #fdbc40;
}
.toolbar-container .toolbar-enlarge-button {
  background-color: #34c94a;
}
.toolbar-container .toolbar-close-button {
  background-color: #fc625d;
}
.toolbar-container .toolbar-devtools-button {
  background-color: #b3cdf7;
}
.toolbar-container .searchbar-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.toolbar-container .searchbar-user-input {
  height: 26px;
}

.topranking-slot {
  width: calc(100% - 10px);
  overflow-x: scroll;
  border: 1px solid #cccccc;
  margin: 10px 0;
}

.topranking-container {
  height: 150px;
  width: 15000px;
}

.topranking-track {
  display: inline-block;
  padding: 5px;
}
.topranking-track img {
  width: 140px;
  height: 140px;
}

.player-container .track {
  width: 200px;
  height: 200px;
  background-image: url(../images/track-placeholder.png);
  background-color: #efefef;
  background-size: 100%;
}
