body,
html {
  height: 100%;
}

.main-container {
  height: calc(100% - 20px);
}
.main-container > div {
  float: left;
  display: inline-block;
  height: 100%;
}
.main-container .sidebar-container {
  width: 200px;
}
.main-container .content-container {
  width: calc(100% - 200px);
}

.toolbar-container {
  text-align: right;
  background: #efefef;
  height: 20px;
  *zoom: 1;
}
.toolbar-container:after {
  content: "";
  display: table;
  clear: both;
}
.toolbar-container .toolbar-buttons {
  float: left;
}
.toolbar-container .toolbar-song-information {
  height: 20px;
  color: #666666;
  text-align: center;
}
.toolbar-container button {
  outline: none;
  padding: 0;
  border: 0;
  border-radius: 10px;
  width: 14px;
  height: 14px;
  font-size: 10px;
  text-align: center;
  color: #666666;
  margin: 0 3.5px;
  vertical-align: middle;
}
.toolbar-container .toolbar-shrink-button {
  background-color: #fdbc40;
}
.toolbar-container .toolbar-enlarge-button {
  background-color: #34c94a;
}
.toolbar-container .toolbar-close-button {
  background-color: #fc625d;
}
.toolbar-container .toolbar-devtools-button {
  background-color: #b3cdf7;
}

.topranking-slot {
  width: 100%;
  overflow-x: scroll;
}

.topranking-container {
  height: 140px;
  width: 14000px;
}

.topranking-track {
  display: inline-block;
}
.topranking-track img {
  width: 140px;
  height: 140px;
}

.player-container {
  position: absolute;
  bottom: 0;
}
.player-container .track {
  width: 200px;
  height: 200px;
  background-image: url(../images/track-placeholder.png);
  background-color: #efefef;
  background-size: 100%;
}
