.toolbar-container {
  -webkit-app-region: drag;

  * {
    -webkit-app-region: no-drag;
  }

  position: relative;
  text-align: right;
  background: #efefef;
  height: 40px;
  border-bottom: 1px solid #cccccc;
  width: 260px;

  .toolbar-buttons {
    position: absolute;
    float: left;
    top: 50%;
    left: 10px;
    margin-top: -10px;

    .button {
      display: inline-block;
      font-size: 9px;
      border-radius: 10px;
      text-align: center;
      margin-right: 5px;
      width: 14px;
      line-height: 14px;
      cursor: pointer;
      color: #333;
      vertical-align: middle;

      // mimic OSX's native behavior
      i {
        visibility: hidden;
      }
    }

    .button:hover {
      i {
        visibility: visible;
      }
    }
  }

  .shrink-button {
    background-color: #fdbc40;
  }

  .enlarge-button {
    background-color: #34c94a;
  }

  .close-button {
    background-color: #fc625d;
  }

  .devtools-button {
    background-color: #b3cdf7;
  }


  .toolbar-song-information {
    height: 20px;
    color: #666666;
    text-align: center;
  }

  .searchbar-container {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    // to make autocomplete ul/li can cover stuffs under it
    z-index: 1;

    .searchbar-user-input {
      height: 26px;
      width: 300px;
      border-radius: 0;
    }

    .autocomplete-list {
      position: absolute;
      width: 100%;
      border: 1px solid #ccc;
      text-align: left;
      border-radius: 0 0 5px 5px;
      overflow: hidden;
      border-top: 0;

      li {
        border-bottom: 1px solid #ccc;
        background-color: white;
        padding: 2px 12px;

        // TODO
        // extract this into mixin
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      li:hover {
        cursor: pointer;
      }

      li.selected {
        background: #ccc;
      }

      li:last-child {
        border: 0;
      }
    }
  }

}
